.action-button {
  width: 100%;
  height: 48px;
  line-height: 13px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  background-color: #3040c4;
  border: none;
  border-radius: 2px;
}
@media screen and (min-width: 400px) {
  .action-button {
    width: 160px;
  }
}

@media screen and (min-width: 399px) {
  .hide_desctop {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .hide_mobile {
    display: none;
  }
}
