$text-color-green: #009b4d;
$text-color-light-grey: #2b292d99;
$text-color-grey: #2b292d;
$text-color-blue: #3142c6;
$text-color-white: #ffffff;

// BACKGROUND

$color-blue: #3040c4;
$color-white: #ffffff;
$color-light-white: #f4f5f7;
$color-peach: #f3c6bd;
$color-light: #f4f5f7;

// BORDER

$border-light-color: #e3e3e3;
$border-dark-light-color: #2b292d26;
$border-dark-color: #2b292d;
$border-dark-lighter-color: #00000026;
$border-blue-color: #3142c6;
$border-color: #2b292d33;
